<!DOCTYPE html>
<html>
<head>
	  <title>Here's My Story</title>

	  <!-- Logo created using logomkr.com-->
	  <link rel="shortcut icon" href="{{ url_for('static', filename='logo3.png') }}"/>

	<!--  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"> -->

	 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" id="logo"><img src="{{ url_for('static', filename='logo.png') }}"></i></a>
    </div>
    <ul class="nav navbar-nav" style="font-size: 18px;">
      <li><a href="#" id="home" style="color: red">Home</a></li>
      <li><a href="#" id="stories" style="color: red">Stories</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right"  style="font-size: 18px;">
     <li><a href="#" id="about" style="color: red">About</a></li>
    </ul>
  </div>
</nav>



<center>
	<h1>
		<b>About Us</b>
	</h1>

	<div></div>

	<h4>
		<i>
			<b>
				Here's My Story is a place for you to share any stories you may have with the world!
			</b>
		</i>
	</h4>

	<p>
	Here, you can share stories, tips, blogs on anything you like. We ask that you refrain from using peoples real names or nicknames in your stories especially, if you dont have their consent. 
	<br>
	<b><i>You hold full responsibility for the story you post!</i></b>

<br>

	You can post your story <b>Anonymously</b> by not signing off at the end or if you wish, you can sign off with a nickname so others can relate to you with other stories you have posted.
	</p>
</center>


 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>

     <script> 
  
  $("#logo").click(function(e){

      e.preventDefault();

      window.location ="/";
    });

       $("#home").click(function(e){

      e.preventDefault();

      window.location ="/";
    });

    $("#about").click(function(e){

      e.preventDefault();

      window.location ="/about";
    });

      $("#stories").click(function(e){

      e.preventDefault();

      window.location ="/stories";
    });

    </script>

</body>
</html>